#title {
    background-color: #ff4c68;
}

body {
    font-family: 'Montserrat', sans-serif; 
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.container-fluid { 
    padding: 3% 15%;
}

.iphone-img {
    height: 400px;
    width: 200px;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.navbar {
    padding-bottom: 4.5rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p {
    color: #8f8f8f;
}

.icon-feature {
    color: #efB172;
    margin-bottom: 8px;
}

.icon-feature:hover {
    color: #ff4c68;
}

.row {
    text-align: center;
    margin: 50px;
}